<h1>All Astronauts</h1>

<%= @astronauts.each do |astronaut| %>
  <p id="astronaut-<%= astronaut.id %>">
  "Name: <%= astronaut.name %>, Age: <%= astronaut.age %>, Job: <%= astronaut.job %>"
  </p>

  <p>Average Age: <%= @astronauts.average_age %></p>
<% end %>