<h1>All Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <p>Name: <%= astronaut.name %>, Age: <%= astronaut.age %>, Job: <%= astronaut.job %></p>
    <p>Missions: <%= astronaut.missions.alphabetical_titles.join(', ') %></p>
  </section>

  <p>Average Age: <%= @astronauts.average_age %></p>
<% end %>