<h1>Outing: <%= @outing.name %></h1>
<h2>Location: <%= @outing.location %></h2>
<h2>Date: <%= @outing.date %></h2>
<h3>Count of Contestants: <%= @outing.contestants_count %> </h3>
<h3>Contestants: <%= @outing.contestants_names %> </h3>