<h1> All Playlists </h1>

<% @playlists.each do |playlist| %>
  <section id="playlist-<%= playlist.id %>">
    <h2><%= playlist.name %></h2>
    <% playlist.songs.each do |song| %>
      <p>Title: <%= song.title %></p>
      <p>Play Count: <%= song.play_count %></p>
      <p>Lengtht: <%= song.length %></p>
    <% end %>
  </section>
<% end %>