<h1>All Trails for <%= @trip.name %> </h1>

<% @trip.trails.each do |trail| %>
  <ul class="trail-<%= trail.id %>-details">
    <li>Name: <%= trail.name %></li>
    <li>Address: <%= trail.address %></li>
    <li>Length: <%= trail.length %></li>
  </ul>
<% end %>

<h2>Total Hiking Distance: <%= @trip.total_distance %></h2>
<h2>Average Hiking Distance: <%= @trip.average_distance %></h2>
